@page "/listalojamientos"
@using Shared.DataTransferObjects;
@using Microsoft.AspNetCore.Components.Authorization



<h3>ListAlojamientos</h3>



@code {
    // private List<AlojamientoDto> alojamientos = new List<AlojamientoDto>();

    // protected override async Task OnInitializedAsync()
    // {
    //     alojamientos = await AlojamientosService.GetAlojamientos();
    // }

}
