@page "/listalojamientos"
@using Shared.DataTransferObjects
@using Shared.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IAlojamientoService alojamientoService
@inject NavigationManager navigationManager


<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Lista de Alojamientos</h3>

        <hr />

        @if (alojamientos == null)
        {
            <div class="alert alert-info" role="alert">
                <p>Cargando alojamientos...</p>
            </div>
        }
        else if (!alojamientos.Any())
        {
            <div class="alert alert-warning" role="alert">
                <p>No hay alojamientos disponibles.</p>
            </div>
        }
        else
        {
            @foreach (var alojamiento in alojamientos)
            {
                <Card alojamiento="alojamiento" url="@($"/detailsalojamiento/{alojamiento.Id}")" />
            }
        }
    </div>
</div>

@code {
    private IEnumerable<AlojamientoDto> alojamientos;

    protected override async Task OnInitializedAsync()
    {
        alojamientos = await alojamientoService.GetAllAlojamientos();
    }
}
