@page "/"
@page "/listalojamientos"
@using Shared.DataTransferObjects
@using Shared.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IAlojamientoService alojamientoService
@inject NavigationManager navigationManager




<h3>ListAlojamientos</h3>

@if (alojamientos == null)
{
    <p>Cargando alojamientos...</p>
}
else if (!alojamientos.Any())
{
    <p>No hay alojamientos disponibles.</p>
}
else
{
    <div class="container mt-4">
        @foreach (var alojamiento in alojamientos)
        {
            <NavLink href="@($"/detailsalojamiento/{alojamiento.Id}")"
                     style="color: inherit; text-decoration: none;">
                <Card alojamiento="alojamiento" />
            </NavLink>
        }
    </div>
}

@code {
    private IEnumerable<AlojamientoDto> alojamientos;

    protected override async Task OnInitializedAsync()
    {
        alojamientos = await alojamientoService.GetAllAlojamientos();
    }
}
