<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Alquileres App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill h5 nav-icon" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/listalojamientos" Match="NavLinkMatch.All">
                <span class="bi bi-search h5 nav-icon" aria-hidden="true"></span> Alojamientos
            </NavLink>
            <NavLink class="nav-link" href="/listalojamientosbyuser" Match="NavLinkMatch.All">
                <span class="bi bi-houses-fill h5 nav-icon" aria-hidden="true"></span> Mis alojamientos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
