@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <a href="/perfil">@context.User.Identity!.Name</a>
        <a href="logout">Cerrar sesión</a>
    </Authorized>
    <NotAuthorized>
        <a href="login">Iniciar sesión</a>
    </NotAuthorized>
</AuthorizeView>