@page "/login"
@using Shared.DataTransferObjects
@using Client.Services
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (showErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">¡Hola de nuevo!</h3>
        <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mb-3">
                <label for="email">Correo electrónico</label>
                <InputText id="email" class="form-control" @bind-Value="loginModel.Email" />
                <ValidationMessage For="@(() => loginModel.Email)" />
            </div>
            <div class="form-group mb-3">
                <label for="password">Contraseña</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>
            <hr />
            <div class="d-flex justify-content-between">
                <span class="align-self-center">¿Necesitas una cuenta? <a href="/register">Registrate</a></span>
                <button type="submit" class="btn btn-outline-primary">Iniciar sesión</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private UserForAuthenticationDto loginModel = new UserForAuthenticationDto();
    private bool showErrors;
    private string error = "";

    private async Task HandleLogin()
    {
        showErrors = false;

        var result = await AuthenticationService.Login(loginModel);

        if (result.IsAuthenticationSuccessful) NavigationManager.NavigateTo("/");

        error = result.ErrorMessage!;
        showErrors = true;
    }
}
